{% extends "base.html" %}
{% block title %}Sobre - YourShop{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}
	<blockquote class="blockquote text-center">O YourShop é uma loja virtual onde os vendedores podem inserir, modificar e remover anúncios de produtos que serão exibidos aos compradores, que entram em contato com os vendedores caso tenham interesse no produto e então acertam detalhes de pagamento e entrega.</blockquote>
{% include 'includes/footer.html' %}
{% endblock %}
